# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Output artifacts
# Model training outputs
model training/output/
model training/output/**
model training/trained_models/

# CatBoost artifacts
catboost_info/learn/
catboost_info/tmp/
catboost_info/*.tsv
catboost_info/
catboost_info/**


# Data analysis outputs
data analysis/output_exploratory_plots/
data analysis/output_exploratory_plots/**

# Prediction outputs
prediction/test_eval_results.csv

# Processed data (regenerated)
data/processed/processed_data.csv

